{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Screen{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<div id="aside_screen">
<caption><h1>Links...</h1></caption>
<ul style="list-style-type:none">
<li>  <a href="http://www.gamasutra.com/category/programming/" class="button" target="_blank">Gamasutra</a></li>
<li>  <a href="http://www.davidoreilly.com/" class="button" target="_blank">DavidOReilly.com</a></li>
<li>  <a href="http://www.howtogeek.com/123338/the-best-websites-for-downloading-and-playing-classic-games/" class="button" target="_blank">HowToGeek.com</a></li>
<li>  <a href="http://www.codemystics.com/halo2600/" class="button" target="_blank">CodeMystics.com</a></li>
<li>  <a href="http://www.mobygames.com/" class="button" target="_blank">MobyGames.com</a></li>
<li>  <a href="https://www.youtube.com/playlist?list=PL501D683369AB6E48" class="button" target="_blank">dkidluke-YouTube</a></li>
</ul>
</div>

<div id="section_screen">

    <h1>Watch...</h1>

    <table>
        {% set headings = [ 'Playthrough', 'Trailers', 'Movies', 'Playthrough', 'Sims2 TV dkidluke' ] %}
        {% set columns = 2 %}
        {% set myCol = 0 %}
        {% for video in watch_list %}
            {% if loop.first or loop.index0 is divisibleby(columns) %}
                <tr>
            {% endif %}
            <td style="width:150px;"><a href="{{ video.getVideoUrl }}" class="video_link" target="blank"  title="{{ video.getGameTitle }}" ><img src="/images/{{ video.getGameScreen }}" title="{{ video.getGameTitle }} screen" width="100%" height="auto"></a></td>
            {% if loop.first or loop.index0 is divisibleby(columns) %}
                <th style="width:250px; text-align: center;"><h3>{{ headings[myCol] }}</h3></th>
                {% set myCol = myCol + 1 %}
            {% endif %}
          {% if loop.last and loop.index is not divisibleby(columns) %}
                {% for n in range(low=columns - (loop.index % columns), high=1, step=-1) %}
                    <td>&nbsp;</td>
                {% endfor %}
            {% endif %}
            {% if loop.last or loop.index is divisibleby(columns) %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

</div>

<div id="main_screen">
<caption><h1>Play...</h1></caption>
<td><a href="http://www.codemystics.com/halo2600/" class="video_link" target="blank"><img src="/images/halo.jpg" width="100%" height="auto"></a></td>
</div>

{% endblock %}
