{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Siopa{% endblock %}

{# ------------------------------------------------- #}
{% block main %}


    <div id="section_shop">

        <blockquote>
            <h2><strong>Secondhand video games for all platforms</strong></h2>
            <p>Sci-fi, historical, fantasy, geo-political, thriller, <br/>shoot-em-up, chill-out, car-chase, quest and more...</p>
        </blockquote>

        <!-- start table for displaying Game details -->
        <h2>Games</h2>

        <table>
            <tr>
                <th> ID </th>
                <th> Title </th>
                <th> Platform </th>
                <th> &euro; </th>
                <th> Screengrab </th>
                <th> Dev </th>
                <th> Description </th>
            </tr>
            {% for item in game_list %}
                <tr>
                    <td>{{ item.getProductId }}</td>
                    <td>{{ item.getTitle|raw }}</td>
                    <td>{{ item.getPlatform }}{% if item.getReleased %}<br/>({{ item.getReleased }}){% endif %}</td>
                    <td>{% if item.getPrice %}&euro; {{ item.getPrice }}{% endif %}</td>
                    <td><img src="/images/{{ item.getScreen }}" alt="{{ item.getTitle }} screen" title="{{ item.getTitle }} screen" width="100%" height="auto" /></td>
                    <td>{% if item.getDeveloperId %}{{ developer_link(item.getDeveloperId) }}{% endif %}</td>
                    <td>{{ item.getDescription }}</td>
                </tr>
            {% endfor %}

        </table>

    </div>

    <div id="main_shop">
        <p>
            <img src="/assets1/Retr0Static.gif" alt="logo gif" width="100%" height="auto">
        </p>
    </div>

{% endblock %}